{% load bootstrap %}

{% for field in response_form %}
	{% if field.field.widget.attrs.category == category.name %}
	   <div>

       <strong> {{ field.label }} </strong>
       {% if field.field.required %}
           <span class="glyphicon glyphicon-asterisk" style="color:red"></span>
       {% endif %}
       <span class="help-inline" style="color:red">
            <strong> {% for error in  field.errors %}{{ error }}{% endfor %} </strong>
        </span>
       <div class="controls">{{ field }} </div>
       </div>
	{% endif %}
{% endfor %}