{% load bootstrap %}

{% for form in response_form %}
	{% if form.field.widget.attrs.category == category.name %}
        <div>
	        <strong> {{ form.label }} </strong>
	        {% if form.field.required %}
	            <span class="glyphicon glyphicon-asterisk" style="color:red"></span>
	        {% endif %}
	        <span class="help-inline" style="color:red">
	            <strong> {% for error in  form.errors %}{{ error }}{% endfor %} </strong>
	        </span>
	        <div class="controls">
	             {{ form }}
	        </div>
        </div>
	{% endif %}
{% endfor %}