*.*~
*.swp
*.swo
*.swn
*.pyc
survey.db
django_survey_and_report.egg-info/
survey_test/static/
survey_test_bak
venv/
.idea/
.project
.pydevproject
.settings/
htmlcov/
.coverage
build/
dist/
.tox/
csv/short-survey.csv
csv/test-management-survey.csv
csv/test-survey.csv
csv/test-survey2.csv
tex/q9_vs_q9.png
tex/short-survey.tex
tex/test-management-survey.tex
tex/test-survey.tex
tex/test-survey2.tex
tex/q1_vs_q6.png
tex/test-survey.pdf
csv/unicode.csv
tex/q11_vs_q11.png
tex/unicode.tex
tex/unicode.pdf
