{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/ico/favicon.ico">
  </head>

  <body>
    <div id="wrap">
	   {% block wrapper %}	{% endblock %}
    	<div class="container" id="container-main">
	       {% block body %}	{% endblock %}
	   </div>
	</div>
	
	<footer class="footer">
		<div class="container">
	       {% block footer %}{% endblock %}
    	</container>
	</footer>

	<link rel="stylesheet" href="/static/css/flick/jquery-ui-1.9.1.custom.css" />    
	<script src="{% static 'js/jquery-1.8.2.js'%}"></script>
	<script src="{% static 'js/jquery-ui-1.9.1.custom.js' %}"></script>	
	<script src="{% static 'js/bootstrap.js'%}"></script>
	<script>
		// use the jquery UI datepicker on all pages with the datepicker class:
		$(".datepicker").datepicker({ minDate: 0});
	</script>
	{% block extrajs %}
	{% endblock %}
  </body>
</html>

